version: "3.9"

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: healthdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
    ports:
      - "5432:5432"

  ml-service:
    build:
      context: ./ml-service
    ports:
      - "8000:8000"

  backend:
    build:
      context: ./health-risk-predictor-master
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/healthdb
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres123
      ML_SERVICE_URL: http://ml-service:8000
    depends_on:
      - postgres
      - ml-service

  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
